@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* share style implement */

.description {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    color: #707070;
    padding: 10px;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0px auto;
}

.section-heading {
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
}

.section-heading * {
    margin-bottom: 10px;
}

.section-title {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 2.6rem;
    color: #121212;
}

.section-description {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    color: #707070;
}

.primary-btn {
    background-color: #FF5959;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 1.1rem;
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
}

/* header style implement */

.header {
    background-color: #FAFAFA;
}

/* banner style implement */

.banner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px 0px 20px;
    margin-bottom: 50px;
}

.banner-btn {
    display: flex;
    align-items: center;
    gap: 20px;
}

.banner-btn>p {
    color: #707070;
}

.banner-text {
    width: 40%;
}

.banner-text * {
    margin-bottom: 10px;
}

.banner-title {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 4rem;
    color: #121212;
}

.banner-img {
    width: 58%;
}

.banner-container .banner-img img {
    width: 80%;
}

/* donate amount style implement */
.donate-section {
    margin-bottom: 100px;
}

.donate-amount {
    max-width: 600px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.price {
    width: 100px;
    height: 100px;
    background-color: #FAFAFA;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

.input-box {
    max-width: 500px;
    margin: auto;
    text-align: center;
    margin-top: 20px;
}

.input-box input[type="text"] {
    outline: none;
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    text-align: center;
    padding: 8px;
    margin-bottom: 14px;
}


/* donate plan style implement */

.donate-plan {
    display: flex;
    gap: 20px;
    margin-bottom: 80px;
}

.donate-plan .food {
    background-color: rgba(79, 157, 166, 0.1);
}

.donate-plan .shelter {
    background-color: rgba(255, 89, 89, 0.1);
}

.donate-plan .education {
    background-color: #FFF4D6;
}

.plan {
    padding: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.plan-title {
    font-weight: 600;
    font-size: 1.3rem;
    color: #121212;
}

.plan-description {
    color: #707070;
    font-weight: 400;
    font-size: 1rem;
}

/* footer style Implement */
.footer {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
}


/* featured one style implement */

.featured-one {
    margin-top: 20px;
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
}

.featured-one * {
    margin-bottom: 10px;
}

.featured-text {
    width: 48%;
}

.featured-img {
    width: 48%;
}

.featured-one img {
    width: 100%;
}

/* subscribe section design */

.subscribe {
    padding: 50px 100px 50px 100px;
    background-color: #FFF4D6;
    display: flex;
    width: 600px;
    margin: 0px auto;
    border-radius: 5px;
}

.subscribe input[type="email"] {
    background-color: #D9D9D9;
    padding: 8px;
    width: 65%;
    outline: none;
    border: none;
    border-radius: 5px 0px 0px 5px;
}

.subscribe input[type="submit"] {
    width: 30%;
    padding: 8px;
    background-color: rgba(255, 89, 89, 1);
    border-radius: 0px 5px 5px 0px;
    border: none;
    outline: none;
    color: white;
}

/*mobile responsive */

@media screen and (max-width:576px) {
    .banner-container {
        flex-direction: column-reverse;
        padding: 20px 30px 0px 20px;
        gap: 50px;
    }

    .banner-text {
        width: 100%;
    }

    .banner-img {
        width: 100%;
        padding-left: 50px;
    }

    .donate-amount {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        margin: 20px;
    }

    .price {
        width: 100%;
        height: 100%;
        padding: 10px;
    }

    .input-box input[type="text"] {
        width: 80%;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .donate-plan {
        flex-direction: column-reverse;
        margin: 20px;
    }

    .featured-one {
        flex-direction: column;
        gap: 0px;
        margin: 50px 10px 0px 10px;
    }

    .featured-text {
        width: 100%;
    }

    .featured-img {
        width: 100%;
    }

    .update{
        margin-top: 50px;
    }

    .subscribe {
        flex-direction: column;
        width: 100%;
        padding: 30px;
       
    }

    .subscribe input[type="email"] {
        width: 100%;
        padding: 20px;
        border-radius: 5px;
    }

    .subscribe input[type="submit"] {
        text-align: center;
        width: 100%;
        padding: 10px;
        border-radius: 5px;
    }

}


@media screen and (min-width:576px) and (max-width:992px) {
    .banner-container {
        flex-direction: column-reverse;
        padding: 20px 30px 0px 20px;
    }

    .banner-text {
        width: 100%;
        padding: 50px;
    }

    .banner-img {
        width: 100%;
        padding-left: 100px;
    }

    .donate-plan {
        margin: 20px;
    }

    .featured-one {
        margin: 20px;
    }

}


.border {
    border: 2px solid black;
}